<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Exemplo POST - Resultado</h1>
        <p>Senha: <span th:text="${param.senha}"></span></p>
        <p>Número CC: <span th:text="${param.cc}"></span></p>
        <p>Cód. Verif: <span th:text="${param.codver}"></span></p>
    </body>
</html>
